.mobile-menu {
   display: none;
   position: fixed;
   z-index: 100;
   top: 100px;
   width: 100%; 
   height: 100vh;
   background-color: #000;
   color: #fff;
   transition: all ease-in-out 0.2s;
}

.mobile-menu ul {
    padding: 3% 5%;
    list-style-type: none;

}

.mobile-menu ul li {
    font-size: 2rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

@media screen and (max-width: 700px) {

    .mobile-menu {
      display: block;
    }
  }