.cart-container {
    padding: 20px;
  }
  
  .cart-heading {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .cart-empty-message {
    font-size: 18px;
  }
  
  .cart-items-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    column-gap: 1rem;
  }
  
  .cart-items-list {
    list-style: none;
    flex: 1;
    margin-right: 20px;
    padding-left: 0;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }
  
  .cart-item-details {
    display: flex;
    align-items: center;
    flex: 1;
  }
  
  .cart-item-image-container {
    width: 80px;
    height: 80px;
    overflow: hidden;
    margin-right: 10px;
  }
  
  .cart-item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .cart-item-info {
    flex: 1;
  }
  
  .cart-item-name {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .cart-item-price {
    font-size: 16px;
  }
  
  .cart-item-quantity {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .quantity-button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: #eee;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }
  
  .quantity-value {
    margin: 0 10px;
  }
  
  .delete-button {
    border: none;
    background-color: transparent;
    color: #ff5252;
    font-size: 16px;
    cursor: pointer;
    font-size: 0.8rem;
  }
  
  .cart-summary {
    flex: 0.5;
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  .summary-heading {
    font-size: 20px;
    margin-bottom: 2rem;
  }
  
  .summary-label {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .summary-value {
    font-size: 16px;
    /* margin-left: 10px; */
  }
  
  .summary-subtotal,
  .summary-shipping,
  .summary-total {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .summary-shipping {
    margin-bottom: 4rem;
  }
  
  .checkout-button {
    width: 100%;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
  }
  
  /* .checkout-button:hover {
    background-color: #00857a;
  } */
  
@media screen and (max-width: 1200px) {
  .cart-items-container {
    grid-template-columns: 1fr;
  }
  
}
  